* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background-color: #F9FBF2;
    color: #000;
    overflow: hidden;
    overflow-y: scroll;
}